@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #151622;
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-large {
  display: none;
}

@media (min-width: 768px) {
  .nav-large {
    display: block;
    height: 85px;
  }
}

@media (min-width: 768px) {
  .ul-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 85px;
  }
  .ul-large li:nth-child(1) {
    font-weight: bold;
    font-size: 1.05rem;
    letter-spacing: 0.025rem;
    -webkit-animation: under 700ms;
            animation: under 700ms;
  }
  .ul-large li:nth-child(1):before {
    content: '01. ';
    color: turquoise;
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
  }
  .ul-large li:nth-child(2) {
    font-weight: bold;
    font-size: 1.05rem;
    letter-spacing: 0.025rem;
    -webkit-animation: under 950ms;
            animation: under 950ms;
  }
  .ul-large li:nth-child(2):before {
    content: '02. ';
    color: turquoise;
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
  }
  .ul-large li:nth-child(3) {
    font-weight: bold;
    font-size: 1.05rem;
    letter-spacing: 0.025rem;
    -webkit-animation: under 1150ms;
            animation: under 1150ms;
  }
  .ul-large li:nth-child(3):before {
    content: '03. ';
    color: turquoise;
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
  }
  .ul-large a {
    text-decoration: none;
    color: white;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .ul-large a:hover {
    color: turquoise;
  }
}

.nav-small-hide {
  display: none;
}

.nav-small-show {
  display: block;
  width: 65%;
  background-color: #25273b;
  position: fixed;
  border-left: 1px solid white;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: navAnimIn;
          animation: navAnimIn;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  z-index: 1;
}

@media (min-width: 768px) {
  .nav-small-show {
    display: none;
  }
}

.nav-small-show .ul-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
  margin: 60% 0 0 0;
}

.nav-small-show .ul-small li a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.025px;
}

.nav-small-show .ul-small li:nth-child(1) {
  font-weight: bold;
  font-size: 1.05rem;
  letter-spacing: 0.025rem;
  -webkit-animation: slideIn 200ms;
          animation: slideIn 200ms;
}

.nav-small-show .ul-small li:nth-child(1):before {
  content: '01.';
  color: turquoise;
  font-size: 1.05rem;
  font-weight: bolder;
  font-family: 'Roboto Mono', monospace;
  margin-left: 55px;
}

.nav-small-show .ul-small li:nth-child(2) {
  font-weight: bold;
  font-size: 1.05rem;
  letter-spacing: 0.025rem;
  -webkit-animation: slideIn 650ms;
          animation: slideIn 650ms;
}

.nav-small-show .ul-small li:nth-child(2):before {
  content: '02.';
  color: turquoise;
  font-size: 1.05rem;
  font-weight: bolder;
  font-family: 'Roboto Mono', monospace;
  margin-left: 55px;
}

.nav-small-show .ul-small li:nth-child(3) {
  font-weight: bold;
  font-size: 1.05rem;
  letter-spacing: 0.025rem;
  -webkit-animation: slideIn 850ms;
          animation: slideIn 850ms;
}

.nav-small-show .ul-small li:nth-child(3):before {
  content: '03.';
  color: turquoise;
  font-size: 1.05rem;
  font-weight: bolder;
  font-family: 'Roboto Mono', monospace;
  margin-left: 55px;
}

.hide {
  display: none;
}

.section-one {
  margin: 0px 10px 0px 15px;
  position: relative;
}

@media (min-width: 768px) {
  .section-one {
    width: 55%;
    margin-top: 40px;
  }
}

.section-one .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  height: 45px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .section-one .headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-one .headline .hey {
  font-size: 1.45rem;
  color: #dbdbdb;
  font-weight: 700;
  -webkit-animation: appear 650ms;
          animation: appear 650ms;
}

.section-one .headline .waving {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  -webkit-animation: appear 650ms;
          animation: appear 650ms;
}

.section-one p {
  font-size: 1.2rem;
  color: #dbdbdb;
  line-height: 1.63rem;
  font-weight: 400;
  margin: 15px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: appear 650ms;
          animation: appear 650ms;
}

.section-one p .name {
  font-weight: 700;
  color: #0EDDEA;
}

.section-one .hide {
  display: none;
}

.section-one .show {
  -webkit-animation: halAppear;
          animation: halAppear;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  border: 4px solid turquoise;
  margin: 30px 0 30px 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .section-one .show {
    display: none;
  }
}

.section-one .largeHal {
  display: block;
  position: absolute;
  right: -60%;
  top: 0;
  border: 4px solid turquoise;
  -webkit-animation: halAppear;
          animation: halAppear;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
}

@media (max-width: 767px) {
  .section-one .largeHal {
    display: none;
  }
}

.section-one .contact {
  color: #dbdbdb;
  -webkit-animation: appear 650ms;
          animation: appear 650ms;
  font-size: 0.9rem;
  -webkit-animation: appear;
          animation: appear;
  margin: 0;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
}

@media (min-width: 768px) {
  .section-one .contact {
    margin-top: 50px;
  }
}

.section-one .email {
  color: white;
  position: relative;
  -webkit-animation: appear 650ms;
          animation: appear 650ms;
}

.section-one .email:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(14, 219, 234, 0.534);
  bottom: -2px;
}

.section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 35px auto 0 auto;
  -webkit-animation: appear 500ms;
          animation: appear 500ms;
}

@media (min-width: 768px) {
  .section-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 60px;
  }
}

.section-two .section-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0e5bea;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 15px 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .section-two .section-title {
    width: 25%;
  }
}

.section-two .section-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .section-two .section-content {
    width: 75%;
    margin: 0 0px 0 0;
  }
}

.section-two .section-content p {
  font-size: 0.9rem;
  margin: 0 15px 15px 15px;
  color: #a3a3a3;
  line-height: 1.63rem;
  letter-spacing: 0.025rem;
  word-spacing: 0.025rem;
}

.section-two .section-content p a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.section-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px auto 0 auto;
  -webkit-animation: appear 500ms;
          animation: appear 500ms;
}

@media (min-width: 768px) {
  .section-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 40px 0 0 0;
  }
}

.section-three .section-three-title {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0e5bea;
  letter-spacing: 0.5px;
  margin: 0 15px 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .section-three .section-three-title {
    width: 25%;
  }
}

.section-three .section-three-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 15px 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .section-three .section-three-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 75%;
    margin-top: 0;
  }
}

.section-three .section-three-content ul {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
}

@media (min-width: 768px) {
  .section-three .section-three-content ul {
    margin: 0;
  }
}

.section-three .section-three-content ul .skill-label {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.section-three .section-three-content ul li {
  margin-bottom: 6px;
  color: #a3a3a3;
}

.section-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto 0 auto;
}

@media (min-width: 768px) {
  .section-four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.section-four .section-four-title {
  font-weight: bold;
  color: #0e5bea;
  letter-spacing: 0.5px;
  margin: 0 15px 10px 15px;
}

@media (min-width: 768px) {
  .section-four .section-four-title {
    width: 25%;
  }
}

.section-four .section-four-content {
  margin: 15px 15px 15px 15px;
}

@media (min-width: 768px) {
  .section-four .section-four-content {
    margin-top: 0;
    width: 75%;
  }
}

.section-four .section-four-content .project-container {
  margin: 0 0 40px 0;
  padding: 0;
  width: 100%;
}

.section-four .section-four-content .project-container .top-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section-four .section-four-content .project-container .top-label h3 {
  margin: 0;
  padding: 0;
  color: white;
}

.section-four .section-four-content .project-container .top-label a {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 200px;
}

.section-four .section-four-content .project-container .top-label .icon {
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.section-four .section-four-content .project-container .top-label .icon:hover {
  cursor: pointer;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.section-four .section-four-content .project-container p {
  color: #a3a3a3;
  font-size: 0.9rem;
  line-height: 1.65rem;
}

.section-four .section-four-content .project-container .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-four .section-four-content .project-container .tags li {
  color: white;
  margin-right: 5px;
  border: 1px solid turquoise;
  border-radius: 3px;
  padding: 5px;
  font-size: 0.6rem;
  word-wrap: break-word;
  font-weight: bold;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.footer p {
  color: white;
  font-size: 1.05rem;
  line-height: 1.9rem;
  font-weight: bold;
  text-align: center;
}

.container {
  position: relative;
  height: 30px;
  width: 30px;
  z-index: 2;
  margin: 20px 20px 0 0;
  -webkit-animation: appear;
          animation: appear;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

@media (min-width: 768px) {
  .container {
    display: none;
  }
}

.container:hover {
  cursor: pointer;
}

.burger1, .burger2, .burger3 {
  position: absolute;
  height: 5px;
  width: 30px;
  background-color: turquoise;
  border-radius: 5px;
}

.burger1 {
  top: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.burger2 {
  top: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger3 {
  bottom: 0px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.burger1-clicked {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
}

.burger2-clicked {
  -webkit-animation: disappear forwards;
          animation: disappear forwards;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
}

.burger3-clicked {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  bottom: 10px;
}

@-webkit-keyframes disappear {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes navAnimIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navAnimIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes move {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes under {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  55% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes under {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  55% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes underline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes underline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes halAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes halAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes borderAn {
  0% {
    border-bottom: 3px solid transparent;
    left: 0;
    bottom: 0;
  }
  25% {
    border-bottom: 3px solid turquoise;
    left: 0;
    bottom: 0;
    right: 0;
  }
  50% {
    border-bottom: 3px solid turquoise;
    border-right: 3px solid turquoise;
    left: 0;
    bottom: 0;
    right: 0;
  }
  75% {
    border-bottom: 3px solid turquoise;
    border-right: 3px solid turquoise;
    border-top: 3px solid turquoise;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
  100% {
    border-bottom: 3px solid turquoise;
    border-right: 3px solid turquoise;
    border-top: 3px solid turquoise;
    border-left: 3px solid turquoise;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: turquoise;
  }
}

@keyframes borderAn {
  0% {
    border-bottom: 3px solid transparent;
    left: 0;
    bottom: 0;
  }
  25% {
    border-bottom: 3px solid turquoise;
    left: 0;
    bottom: 0;
    right: 0;
  }
  50% {
    border-bottom: 3px solid turquoise;
    border-right: 3px solid turquoise;
    left: 0;
    bottom: 0;
    right: 0;
  }
  75% {
    border-bottom: 3px solid turquoise;
    border-right: 3px solid turquoise;
    border-top: 3px solid turquoise;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
  100% {
    border-bottom: 3px solid turquoise;
    border-right: 3px solid turquoise;
    border-top: 3px solid turquoise;
    border-left: 3px solid turquoise;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: turquoise;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */