.navigation-large {
    @media (min-width: 768px) {
        display: block;
        width: 100%;
        margin-left: 30%;
    }
}

.navigation-large__ul {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .navigation__ul__link:nth-child(1) {
            @media (min-width: 768px) {
                display: flex;
                margin-left: 0;
                animation: under 200ms;
            }
            @media (min-width: 1150px) {
                font-size: 1.05rem;
            }
        }

        .navigation__ul__link:nth-child(1):before {
            @media (min-width: 768px) {
            display: block;
            content: '01.';
            color: text-color(text-color-turquise);
            font-size: 0.85rem;
            font-weight: bolder;
            font-family: $secondary-font;
            }
            @media (min-width: 1150px) {
                font-size: 0.9rem;
            }
        }

        .navigation__ul__link:nth-child(2) {
            @media (min-width: 768px) {
                display: flex;
                margin-left: 0;
                animation: under 550ms;
            }
            @media (min-width: 1150px) {
                font-size: 1.05rem;
            }

        }

        .navigation__ul__link:nth-child(2):before {
            @media (min-width: 768px) {
            content: '02.';
            display: block;
            color: text-color(text-color-turquise);
            font-size: 0.85rem;
            font-weight: bolder;
            font-family: $secondary-font;
            }
            @media (min-width: 1150px) {
                font-size: 0.9rem;
            }
        }

        .navigation__ul__link:nth-child(3) {
            @media (min-width: 768px) {
                display: flex;
                margin-left: 0;
                animation: under 750ms;
            }
            @media (min-width: 1150px) {
                font-size: 1.05rem;
            }
        }

        .navigation__ul__link:nth-child(3):before {
            @media (min-width: 768px) {
            content: '03.';
            display: block;
            color: text-color(text-color-turquise);
            font-size: 0.85rem;
            font-weight: bolder;
            font-family: $secondary-font;
            }
            @media (min-width: 1150px) {
                font-size: 0.9rem;
            }
        }
    }
}