// section-one
.section-one {
    margin: -15px 10px 0px 15px;
    position: relative;
    // border: 1px solid white;

    @media (min-width: 768px) {
        width: 55%;
        margin: 30px 0 0 15px;
    }
}

// section-one__headline
.section-one__headline {
    display: flex;
    height: 45px;
    justify-content: flex-start;
    align-items: center;
}

.section-one__headline__hey {
    font-size: 1.4rem;
    color: rgb(219, 219, 219); 
    font-weight: font-weight(bold);
    animation: appear 650ms;
}

.section-one__headline__waving {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    animation: appear 650ms;
}

// section-one__paragraph
.section-one__paragraph {
    font-size: 1.2rem;
    color: rgb(219, 219, 219);
    line-height: 1.63rem;
    font-weight: font-weight(regular);
    margin: 15px 0 0 0;
    animation: appear 650ms;
    // border: 1px solid white;

    @media (min-width: 375px) {
        width: 95%;
        font-size: 1.3rem;
    }
    @media (min-width: 414px) {
        width: 92%;
        font-size: 1.4rem;
    }
    @media (min-width: 768px) {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}

.section-one__paragraph__name {
    font-weight: font-weight(bold);
    color: text-color(text-color-turquise);
}

// section-one__showHal
.section-one__showHal {
    animation: halAppear;
    animation-duration: 700ms;
    border: 4px solid text-color(text-color-turquise);
    margin: 30px 0 30px 50%;
    transform: translateX(-50%);

    @media (min-width: 768px) {
        display: none;
    }
}

// section-one__showHal
.section-one__showLrgHal {

    @media (max-width: 768px) {
        display: none;
    }

    @media (min-width: 768px) {
        display: block;
        position: absolute;
        right: -50%;
        top: 0;
        border: 4px solid turquoise;
        animation: halAppear;
        animation-duration: 700ms;
    }
}

// section-one__contact
.section-one__contact {
    color: rgb(219, 219, 219);
    font-size: 0.9rem;
    animation: appear;
    animation-duration: 300ms;

    @media (min-width: 375px) {
        font-size: 1rem;
    }
    @media (min-width: 414px) {
        font-size: 1.05rem;
    }
    @media (min-width: 768px) {
        margin-top: 50px;
    }
}

// section-one__contact__email
.section-one__contact__email {
    color: rgb(255, 255, 255);
    position: relative;
    animation: appear 650ms;

    &:before { 
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: rgba(14, 219, 234, 0.534);
        bottom: -2px;
    }
}